.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 100%;
        padding: 25px;
        width: 70px;
    }

    .nav-link-container {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;


    }

    .nav-link {
        padding: 10px 15px;
        align-items: center;
        cursor: pointer;
    }
}